<div>
  <div class="btn-group">
    <button ng-repeat="tab in tabset.tabs"
            type="button"
            ng-class="{active : tab.active}"
            ng-click="tabset.select(tab)"
            class="btn btn-default">
      &nbsp;{{tab.header}}&nbsp;
    </button>
  </div>
  <hr/>

  <ng-transclude></ng-transclude>
</div>
