<!DOCTYPE html>
<html lang="en" ng-app="moduleExample">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>04-protractor | Angular.cz</title>

  <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

  <script src="/bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="UserController as vm">
<!-- Přepínání cvičení - ignorujte @formatter:off--><div style="padding:20px" class="text-center"><a href="/03-scope" style="float:left" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> 03-scope</a><span class="h3">04-protractor</span><a href="/05-di" style="float:right" class="btn btn-default">05-di<i class="glyphicon glyphicon-chevron-right"></i></a><div class="clearfix"></div><hr class="clearfix"/></div><!-- @formatter:on-->

<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-4 well">
      <label for="userName">Jméno</label>
      <input id="userName" class="form-control" ng-model="vm.user.name"/>
      <label for="userSurname">Příjmení</label>
      <input id="userSurname" class="form-control" ng-model="vm.user.surname"/>
      <label for="yearOfBirth">Rok narození</label>
      <input id="yearOfBirth" class="form-control" type="number" ng-model="vm.user.yearOfBirth"/>
    </div>

    <!--TODO 3 - Změňte výpis jména na one-time databinding-->
    <div class="col-md-offset-1 col-md-5 well">
      <div>Jméno: {{vm.user.name}}</div>
      <div>Příjmení: {{vm.user.surname}}</div>
      <div>Věk: {{vm.getAge()}}</div>
    </div>
  </div>
</div>
</body>
</html>
