<!DOCTYPE html>
<html lang="en" ng-app="bacon">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>09-component-basic | Angular.cz</title>

  <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

  <script src="/bower_components/angular/angular.js"></script>
  <script src="service.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="BaconController as vm" class="container">
<h3>bacon-ipsum</h3>
<bacon-ipsum></bacon-ipsum>
<hr/>

Title: <input ng-model="vm.title"/>
Number of paragraphs: <input type="number" ng-model="vm.paragraphs"/>
<bacon-ipsum title="vm.title"
             title-two-way="vm.title"
             paragraphs="{{vm.paragraphs}}"
             on-change="vm.onChangeCallback(data)">
</bacon-ipsum>

<hr/>
</body>
</html>
